<!DOCTYPE html>
<html>
	<head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
			<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
				<li><a href="/inspiration_wall">Inspiration Wall</a></li>
				<li><a href="/about">About</a></li>
        	</ul>
		</nav>
		<div class="container">

            {{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:joshua.k.huang@gmail.com">email</a></li>
				<li><a href="https://github.com/hikesandbikes.github.io">github.com/hikesandbikes.github.io</a></li>
				<li><a href="https://linkedin.com/joshuakhaung">linkedin.com/joshuakhuang</a></li>
			</ul>
		</footer>
	</body>
</html>


