<!DOCTYPE html>
<html>
	<head>

		<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
			<link rel="stylesheet" href="/static/styles.css">

		<!-- favicon -->
			
			<link rel="shortcut icon" type="image/x-icon" href="favicon/favicon.ico">



	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
				<li><a href="/inspiration_wall">Inspiration Wall</a></li>
				<li><a href="/blog">Full Reads</a></li>
				<li><a href="/about">About</a></li>
        	</ul>
		</nav>
		<div class="container">

            {{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:joshua.k.huang@gmail.com">email</a></li>
				<li><a href="https://hikesandbikes.github.io">hikesandbikes.github.io</a></li>
				<li><a href="https://linkedin.com/in/joshuakhuang" target="_blank">linkedin.com/in/joshuakhuang</a></li>
			</ul>
		</footer>
	</body>
</html>


